.project {
  background-color: rgb(22, 3, 33);
  height: calc(100vh - 110px);
  color: whitesmoke;
  overflow: scroll;

}

.project p{
  border-right: 2px solid rgb(255, 255, 255);
  font-size: 3rem;
  padding: 5px 10px;
  padding-right: 1rem;
  color:rgb(255, 242, 0);
  overflow: scroll;
  
}

.project_substack_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.project_substack_signup{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 1vw;
}

.project_container {
  margin: auto;
  width: 83.67%;
  padding-top: 1rem;
  height: 100%;
  margin-bottom: 3rem;
  /*margin-left: 5rem;*/
}

.project_writing_container {
  margin: auto;
  width: 83.67%;
  padding-top: 0.5rem;
  height: 100%;
  margin-bottom: 3rem;
  /*margin-left: 5rem;*/
}
.project_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 1rem;
  gap: 1rem;
  background-color: rgb(22, 3, 33);
  border-radius:15px ;
  padding-bottom: 4rem;
  height: 100%;
  overflow-y: scroll;
}

/* width */
.project_card_container::-webkit-scrollbar {
  width:5px;
}

/* Track */
.project_card_container::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  margin-top: 1px;
  margin-bottom: 5rem;
}

/* Handle */
.project_card_container::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
.project_card_container::-webkit-scrollbar-thumb:hover {
  background: #818181;
}

.project_card {
  /* width: 500px; */
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.project_card_top {
  
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: rgb(22, 3, 33);
  margin:0rem 2rem;
}
.project_card_head {
  display: flex;
  justify-content: space-between;
  font-size:x-large;
}

.project_card_image{
  padding: 1rem;
  border-radius: 25px;
}

.project_card_head p {
  color: rgb(255, 255, 255);
  font-weight:bold;
}
.project_card_head span {
  color: rgb(156, 156, 156);
  font-size: large;
}
.project_card_body {
  background-color: rgb(22, 3, 33);
  padding: 0rem 1rem;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  margin-bottom:0rem;
}
.project_card_bottom {
  margin-top: 0rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: inline-block; 

}
.project_card_bottom_last {
  margin-top: 0rem;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  padding-bottom: 1.5rem;
}
.project_card_bottom a {
 
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin-left: 2rem;
  font-size: large;
 
}

.project_card_bottom_last a {
 
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin-left: 2rem;
  font-size: large;
}

.project_subtitle{
  font-size: 1.4rem;
  color:rgb(255, 255, 255);
  margin:auto;
  width:100%;
}

.project_writing_subtitle{
  font-size: 1.5rem;
  color:rgb(255, 255, 255);
  margin:auto;
  width:100%;
}

@media screen and (max-width: 530px) {
  .project_container {
    width: 100%;
    padding: 1vh 1rem;
  }
  .project_card_bottom {
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    display: inline-block; 
  
  }
  .project_card_bottom_last {
    margin-top: 0rem;
    margin-bottom: 4rem;
    padding: 0.5rem 1rem;
    padding-bottom:20vh;
    display: inline-block; 
  }

  .project_card_head span {
    color: rgba(156, 156, 156, 1);
    font-size: small;
  }

  .project_card_image{
    padding: 0.2rem;
    padding-top: 0.5rem;
    margin: auto;
    border-radius: 15px;
  }
}
